body {
    display: flex;
    flex-direction: column;
    font-family: "roboto";
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 100px;

}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #F9FAF8;
    padding: 20px;

}

a {
    text-decoration: none;
    color: white;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.left-box {
    width: 300px;
}

.left-box h1 {
    color: #f4f4f4;
}

.left-box p {
    color: white;
    font-size: smaller;
}

.rocket {
    height: 100px;
    width: auto;

}

.brain {
    height: 300px;
    width: 300px;
}

button {
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 10px 45px;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.info-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-group img {
    width: 75px;
    height: auto;
    padding: 20px;
    border: 4px #3882F6 solid;
    border-radius: 18px;
}

.info h2 {
    text-align: center;
}

.credit {
    color: #3882F6;
}

.img1,
.img2,
.img3,
.img4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    margin: 50px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote-block {
    margin: 100px;
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: flex-end;
}

.quote-p {
    font-size: 28px;
    font-weight: 100;
}

.author-p {
    font-size: 20px;
    font-weight: 900;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    background-color: #3882F6;
    margin: 100px;
    padding: 30px;
    width: 1000px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.left-sign-up {
    color: #F9FAF8;
    line-height: 3px;
    font-size: larger;
}

.left-sign-up h5 {
    color: #E5E7EB;
}

.sign-up-box button {
    align-items: center;
    border: 4px #E5E7EB solid;
    margin-left: 200px;
}


.footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #E5E7EB;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: #E5E7EB;
}